force_create_new_topic=true
new_topic_replication=3
new_topic_partitions=3
near_node_url="http://localhost:3030"
log_level="info"
group_id = "enrich-nft-events"
auto_offset_reset = "earliest"
topic_output_suffix="extra"
topics=[]

[kafka]
"bootstrap.servers" = ""
"security.protocol" = "SASL_SSL"
"sasl.mechanisms" = "PLAIN"
"sasl.username" = ""
"sasl.password" = ""
